{% extends 'calc/layout.html' %}
{% block title %}ショッピングカート{% endblock %}

{% block content %}
<h1>ショッピングカート</h1>
{% include 'calc/nav.html' %}
<table class="table">
    <thead>
        <tr>
            <th>商品コード</th>
            <th>商品名</th>
            <th>単価</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        {% for order_line in order_lines %}
        <tr>
            <td>{{ order_line.item.code }}</td>
            <td>{{ order_line.item.name }}</td>
            <td>{{ order_line.item.price }}</td>
            <td>{{ order_line.count }}</td>
            <td>{{ order_line.sum }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="4">合計金額</th>
            <th>{{ total_sum }}</th>
        </tr>
    </tbody>
</table>
<div class="row" style="margin-top: 3em;">
    <div class="col-md-6" style="text-align: center;">
        <a class="btn btn-secondary" href="{%url 'calc:cart_clear' %}">ショッピングカートを空にする</a>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <a class="btn btn-primary" href="{%url 'calc:save_order' %}">注文する</a>
    </div>
</div>
{% endblock %}