{% extends 'calc/layout.html' %}
{% load humanize %}
{% block title %}明細登録{% endblock %}

{% block content %}
<h1>明細登録</h1>
{% include 'calc/nav.html' %}
{% if item.image %}
<div class="mb-3" style="width: 320px;">
    <img class="img-fluid" src="{{ item.image.url }}">
</div>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>商品コード</th>
            <th>品名</th>
            <th>単価</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</a></td>
            <td>{{ item.price|intcomma }}</td>
        </tr>
    </tbody>
</table>
<form action="{% url 'calc:line' item.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="登録">
</form>
{% endblock %}
